.primaryButton {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    text-align: center;
    margin-top: auto;
    background-color: var(--background-color1);
    color: var(--text-color2);
  }
  
  .primaryButton:hover {
    background-color: var(--primary-color-hover);
    color: var(--text-color);
  }
  
  .secondaryButton {
    opacity: 0.7; /* Fades the button by reducing opacity */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
  }
  
  .secondaryButton:hover {
    opacity: 0.85; /* Slightly increase opacity on hover for feedback */
  }
  